/* src/components/HurrayView.css */

/* --- C. Hurray View (Frame 9) --- */
.hurray-view {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hurray-content {
    background-color: var(--bg-color);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
}

.trophy-area {
    position: relative;
    margin-bottom: 0px;
    padding: 40px 0;
}

.trophy-icon {
    font-size: 150px;
    line-height: 1;
    color: gold;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
}

.star {
    position: absolute;
    font-size: 40px;
    color: #D9D9D9;
}
.star:nth-child(1) { top: 0; left: 100px; transform: rotate(-10deg); }
.star:nth-child(2) { top: -35px; right: 140px; font-size: 60px; }
.star:nth-child(3) { bottom:50px; left: 120px; transform: rotate(5deg); }
.star:nth-child(4) { bottom:30px; right: 70px; font-size: 100px; transform: rotate(-15deg); }
.star:nth-child(5) { top: 30px; left:40px; font-size:80px; transform: rotate(20deg); }
.star:nth-child(6) { top:0px; left:190px; font-size:30px; transform: rotate(-5deg); }
.star:nth-child(7) { top: -30px; left:120px; font-size:30px; transform: rotate(10deg); }
.star:nth-child(8) { top:40px; right:100px; font-size:30px; transform: rotate(-25deg); }

.hurray-text {
    font-size: 60px;
    font-weight: 550;
    color: var(--text-color);
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}

.hurray-subtext {
    font-size: 27px;
    font-weight: 350;
    margin-bottom: 40px;
    letter-spacing: 1.5px;
}

#hurray-next-btn {
    background-color: #f00; /* Red color for NEXT button */
    color: #fff;
    margin-left: 20px;
}